{% extends 'main/base.html' %}
{% load static %}
{% block content %}
	
	<!--Main Slider-->
    <section class="main-slider style-three">
        <div class="main-slider-carousel owl-carousel owl-theme">
            
            <div class="slide" style="background-image:url({% static 'main/images/main-slider/london-g8e7d856cf_1920.jpg' %})">
                <div class="auto-container">
					<div class="content alternate">
						<div class="title">Proter Media</div>
						<h1 class="style-two">Experience / Expertise / Relationship / Reputation / Persistence</h1>
						
						<div class="btn-box">
							<a href="contact/" class="theme-btn btn-style-nine">Let’s start now <span class="icon flaticon-direction"></span></a>
						</div>
					</div>
                </div>
            </div>
            
            <div class="slide" style="background-image:url({% static 'main/images/main-slider/business-5475659_1920.jpg' %})">
                <div class="auto-container">
					<div class="content alternate">
						<div class="title">We honor your opinion</div>
						<h1 class="style-two">We Deliver Value to our Clients
Through Innovative Buying</span></h1>
						
						<div class="btn-box">
							<a href="contact/" class="theme-btn btn-style-nine">Let’s start now <span class="icon flaticon-direction"></span></a>
						</div>
					</div>
                </div>
            </div>
			
        </div>
	</section>
	
	<!-- Services Section Seven-->
	<section class="services-section-seven">
		<div class="auto-container">
			<div class="inner-container">
				<div class="clearfix">
					
					<!-- Services Block Ten -->
					<div class="services-block-ten col-lg-4 col-md-6 col-sm-12">
						<div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
							<div class="large-icon flaticon-medal-1"></div>
							<div class="upper-box">
								<div class="icon-box">
									<span class="icon flaticon-medal-1"></span>
								</div>
								<h4><a href="#">Negotiation Preparation</a></h4>


							</div>
							
							<ul class="list-style-three">
								<li>Market Assessment</li>
								<li>Current commitment position</li>
								<li>Commitment Share</li>

								<li>Learnings from past fiscals</li>
								<li>Brand needs</li>
								
							</ul>

						</div>
					</div>
					
					<!-- Services Block Ten -->
					<div class="services-block-ten col-lg-4 col-md-6 col-sm-12">
						<div class="inner-box wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
							<div class="large-icon flaticon-diamond-1"></div>
							<div class="upper-box">
								<div class="icon-box">
									<span class="icon flaticon-diamond-1"></span>
								</div>
								<h4><a href="#">Main Negotiation</a></h4>
							</div>
							
							<ul class="list-style-three">
								<li>Audience-by-audience evaluation</li>
								<li>Assess negotiation alternatives</li>
								<li>Full involvement of Client in meetings</li>

								<li>Added Value/Non discount concessions</li>
								<li>Compensation?</li>
								
							</ul>
						</div>
					</div>
					
					<!-- Services Block Ten -->
					<div class="services-block-ten col-lg-4 col-md-12 col-sm-12">
						<div class="inner-box wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
							<div class="large-icon flaticon-award"></div>
							<div class="upper-box">
								<div class="icon-box">
									<span class="icon flaticon-award"></span>
								</div>
								<h4><a href="#">Maintenance</a></h4>
							</div>
							
							<ul class="list-style-three">
								<li>Implementation</li>
								<li>Learning</li>
								<li>Feedback: Big Bang Media/Client</li>
								<li>Market development</li>
								<li>Monitoring – Deals tracker</li>
								<li>Reviews & Re-negotiation</li>
							</ul>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</section>
	<!-- End Services Section Seven-->
    <!-- Services Section Eight -->
	<section class="services-section-eight">
		<div class="auto-container">
			<div class="row clearfix">
			<!-- Content Column -->
			<div class="content-column col-lg-8 col-md-12 col-sm-12">
				<div class="inner-column">
					<div class="row clearfix">
						
						<!-- Services Block Eleven -->
						<div class="services-block-eleven col-lg-6 col-md-6 col-sm-12">
							<div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
								<div class="border-one"></div>
								<div class="border-two"></div>
								<div class="content">
									<div class="icon-box">
										<span class="icon fa fa-bullhorn"></span>
									</div>
									<h6><a href="services-single.html">A Consumer-Led Economy</a></h6>
									<div class="text">Industry 4.0 is here!!! Technology is redefining every aspect of life—making people, their devices and their data more connected than ever before (IoT). In this context, the consumer takes the lead and it is people that are in control, not brands. The rules of brand engagement have been redefined <br><br><br></div>
								</div>
							</div>
						</div>
						
						<!-- Services Block Eleven -->
						<div class="services-block-eleven col-lg-6 col-md-6 col-sm-12">
							<div class="inner-box wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
								<div class="border-one"></div>
								<div class="border-two"></div>
								<div class="content">
									<div class="icon-box">
										<span class="icon fa fa-suitcase"></span>
									</div>
									<h6><a href="services-single.html">Covid has brought Disruption with it</a></h6>
									<div class="text">ntire market structures are shifting – impacting consumers and organizations in new and often unexpected ways. As industries transition, they face risk and opportunity. New brands are being forged in this environment. Others must adapt at speed. We believe the winners will be those that see the potential in disruption - and embrace it.</div>
								</div>
							</div>
						</div>
						
						<!-- Services Block Eleven -->
						<div class="services-block-eleven col-lg-6 col-md-6 col-sm-12">
							<div class="inner-box wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
								<div class="border-one"></div>
								<div class="border-two"></div>
								<div class="content">
									<div class="icon-box">
										<span class="icon fa fa-area-chart"></span>
									</div>
									<h6><a href="services-single.html">Relevant Brand Experiences</a></h6>
									<div class="text">People now expect the right brand experience at the right time in the right place. Relevance is key. As media becomes more addressable, it promises a step-change in our ability to meet these expectations. Personal experiences on a one to one basis at scale, are possible.<br><br><br></div>
								</div>
							</div>
						</div>
						
						<!-- Services Block Eleven -->
						<div class="services-block-eleven col-lg-6 col-md-6 col-sm-12">
							<div class="inner-box wow fadeInUp" data-wow-delay="900ms" data-wow-duration="1500ms">
								<div class="border-one"></div>
								<div class="border-two"></div>
								<div class="content">
									<div class="icon-box">
										<span class="icon fa fa-coffee"></span>
									</div>
									<h6><a href="services-single.html">Complexity for Marketers </a></h6>
									<div class="text">Data, technology, disruption, personalization. It all adds up to complexity for marketers at a level never experienced before. Clients are looking for leadership, based on people-led thinking that drives better investment decisions for their brands. Enabling them to innovate with confidence and generate greater business performance.</div>
								</div>
							</div>
						</div>
						
						
						
					</div>
				</div>
			</div>
			
			<!-- Image Column -->
			<div class="image-column col-lg-4 col-md-8 col-sm-12">
				<div class="inner-column wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
					<div class="image">
						<img src="{% static 'main/images/resource/fractal-g200a059d4_1280.jpg' %}" alt=""/>
						<div class="overlay-box">
							<div class="overlay-inner">
								<div class="content">
									<h2>35 <span>years of experience</span></h2>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			</div>
		</div>
	</section>
	<!-- End Services Section Eight -->

	<!-- Services Section Ten -->
	<section class="services-section-ten" id="about">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title-three centered brown">
				<div class="title">A Different State-of-Mind Consumer</div>
				<h2> has also Emerged post COVID-19</h2>
			</div>
			<div class="row clearfix">
			
				<!-- Services Block Fourteen -->
				<div class="services-block-fourteen col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="box-one"></div>
						<div class="box-two"></div>
						<div class="icon-box">
							<span class="icon flaticon-earnings"></span>
						</div>
						
						<div class="text">More worried about the economic impact of COVID-19</div>
					</div>
				</div>
				
				<!-- Services Block Fourteen -->
				<div class="services-block-fourteen col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
						<div class="box-one"></div>
						<div class="box-two"></div>
						<div class="icon-box">
							<span class="icon flaticon-budget-1"></span>
						</div>
						
						<div class="text">Reprioritization of relationships with everything, everyone </div>
					</div>
				</div>
				
				<!-- Services Block Fourteen -->
				<div class="services-block-fourteen col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
						<div class="box-one"></div>
						<div class="box-two"></div>
						<div class="icon-box">
							<span class="icon flaticon-clock"></span>
						</div>
						
						<div class="text">Expanded time filled with boredom, online engagement, etc</div>
					</div>
				</div>
				
				<!-- Services Block Fourteen -->
				<div class="services-block-fourteen col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInUp" data-wow-delay="900ms" data-wow-duration="1500ms">
						<div class="box-one"></div>
						<div class="box-two"></div>
						<div class="icon-box">
							<span class="icon flaticon-bank-building"></span>
						</div>
						
						<div class="text">Contracted space dotted by liquid workforce, parent teaching, virtual gyms, etc.</div>
					</div>
				</div>
				
				<!-- Services Block Fourteen -->
				<div class="services-block-fourteen col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="box-one"></div>
						<div class="box-two"></div>
						<div class="icon-box">
							<span class="icon flaticon-analysis-1"></span>
						</div>
						
						<div class="text">More inward focused and creative than ever for self preservation</div>
					</div>
				</div>
				
				<!-- Services Block Fourteen -->
				<div class="services-block-fourteen col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
						<div class="box-one"></div>
						<div class="box-two"></div>
						<div class="icon-box">
							<span class="icon flaticon-employee"></span>
						</div>
						
						<div class="text">Seeking more emotional connection with the family and community </div>
					</div>
				</div>
				
				<!-- Services Block Fourteen -->
				<div class="services-block-fourteen col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
						<div class="box-one"></div>
						<div class="box-two"></div>
						<div class="icon-box">
							<span class="icon flaticon-employee"></span>
						</div>
						
						<div class="text">Virtual escaping now a reality making entertainment & content bigger</div>
					</div>
				</div>
				
				<!-- Services Block Fourteen -->
				<div class="services-block-fourteen col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInUp" data-wow-delay="900ms" data-wow-duration="1500ms">
						<div class="box-one"></div>
						<div class="box-two"></div>
						<div class="icon-box">
							<span class="icon flaticon-money-bag"></span>
						</div>
						
						<div class="text">Cautious spending only on essentials to save where necessary </div>
					</div>
				</div>
			
			</div>
		</div>
	</section>
	<!-- End Services Section Ten -->

	<!-- Services Section Ten -->
	<section class="services-section-ten style-two brown">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title centered brown">
				
				<h2>Hence You Require a Partner <br>with End-to-End Solutions</h2>
			</div>
						
						<h5><a href="services-single.html">Not just transactional, but a partner that understands them and their challenges, who doesn’t only do what they’re told, but leads them in the right 
direction, cause-corrects issues to consistently deliver value to brands, and celebrate & sustain success with our clients!!</a></h5>
						
						<!-- Copyright Column -->

		</div>
	</section>
	<!-- End About Section -->


	<!-- Video Section -->
	<section class="video-section" style="background-image:url({% static 'main/images/background/banner-gdd1bcebbf_1920.jpg' %})">
		<div class="auto-container">
			<div class="title">Video</div>
			<h2>Meet Procter Media!</h2><h6>Here, we think differently. 
We see the potential that a fresh
Insightful perspective can bring to a
<span>fresh cluttered landscape </span>.<h6>
			<a href="https://www.youtube.com/watch?v=Fvadfgertge8nxzVz4" class="play-now" data-fancybox="gallery" data-caption=""><i class="icon flaticon-play-button" aria-hidden="true"></i><span class="ripple"></span></a>
		</div>
	</section>
	<!-- End Video Section -->

	<!-- Feature Section -->
	<section class="feature-section">
		<div class="auto-container">
		
			<!-- Sec Title Three -->
			<div class="sec-title brown">
				<div class="clearfix">
					<div class="pull-left">
						<div class="title">Why choose us</div>
						<h2>Mission, Vision <br> and <span>Core Values</span></h2>
					</div>
					<div class="pull-right">
						<div class="text">Outstanding Negotiation skill with high Return on Client’s Media Investment (ROI).</div>
					</div>
				</div>
			</div>
			
			<!--Feature Tabs-->
            <div class="feature-tabs tabs-box style-two">
                <div class="row clearfix">
                	<!--Column-->
                    <div class="col-lg-5 col-md-12 col-sm-12">
                        <!--Tab Btns-->
                        <ul class="tab-btns tab-buttons clearfix">
                            <li data-tab="#feature-expert" class="tab-btn active">Our Mission<span>Proactively explore opportunities to deliver ’personalized’ brand messages by leveraging robust data-driven market and consumer insights, connection ecosystems & partnerships to deliver ‘captive’ consumer connections moments effectively and efficiently </span></li>
                            <li data-tab="#feature-brand" class="tab-btn">Our Vision<span>To create value for our customers by being the most collaborative marketing communications company in Nigeria and Sub Saharan Africa while co-existing globally through seamless systemic integrations </span></li>
                            
                        </ul>
                    </div>
                    <!--Column-->
                    <div class="col-lg-7 col-md-12 col-sm-12">
                    	<!--Tabs Container-->
                        <div class="tabs-content">
                        
                            <div class="sidebar-widget popular-posts">
                            <div class="sidebar-title-two">
                                <h4>Our Core Values</h4>
                            </div>
							
							<article class="post">
								<figure class="post-thumb"><img src="{% static 'main/images/resource/post-thumb-1.jpg' %}" alt=""><a href="blog-single.html" class="overlay-box"><span class="icon fa fa-link"></span></a></figure>
								<div class="text"><a href="blog-single.html">Improvement</a></div>
								<div><i class="fa fa-thumbs-up" aria-hidden="true"></i> We continually strive to improve in our support of your business</div>
							</article>
							
							<article class="post">
								<figure class="post-thumb"><img src="{% static 'main/images/resource/post-thumb-2.jpg' %}" alt=""><a href="blog-single.html" class="overlay-box"><span class="icon fa fa-link"></span></a></figure>
								<div class="text"><a href="blog-single.html">Accountability</a></div>
								<div><i class="fa fa-thumbs-up" aria-hidden="true"></i> We can count on each other to do the right thing ALWAYS </div>
							</article>
							
							<article class="post">
								<figure class="post-thumb"><img src="{% static 'main/images/resource/post-thumb-3.jpg' %}" alt=""><a href="blog-single.html" class="overlay-box"><span class="icon fa fa-link"></span></a></figure>
								<div class="text"><a href="blog-single.html"></a>Dependability</div>
								<div><i class="fa fa-thumbs-up" aria-hidden="true"></i> We do what we say we will do </div>
							</article>

							<article class="post">
								<figure class="post-thumb"><img src="{% static 'main/images/resource/post-thumb-3.jpg' %}" alt=""><a href="blog-single.html" class="overlay-box"><span class="icon fa fa-link"></span></a></figure>
								<div class="text"><a href="blog-single.html">Hospitality</a></div>
								<div><i class="fa fa-thumbs-up" aria-hidden="true"></i> Treating everyone with dignity, courtesy and mutual respect</div>
							</article>

							<article class="post">
								<figure class="post-thumb"><img src="{% static 'main/images/resource/post-thumb-3.jpg' %}" alt=""><a href="blog-single.html" class="overlay-box"><span class="icon fa fa-link"></span></a></figure>
								<div class="text"><a href="blog-single.html">Honesty</a></div>
								<div><i class="fa fa-thumbs-up" aria-hidden="true"></i> We are honest, honorable and uphold values </div>
							</article>
							
						</div>

						</div>
					</div>
				</div>
			</div>




			
			
		</div>
	</section>
	<!-- End Feature Section -->


	<!-- Services Section Four-->
	<section class="services-section-four" id="service">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title brown">
				<div class="clearfix">
					<div class="pull-left">
						<h2>Core Competencies</span></h2>
					</div>
					<div class="pull-right">
						<div class="text">Competitive Volume Discount concession across all Media types.</div>
					</div>
				</div>
			</div>
			<div class="row clearfix">
				
				<!-- Services Block Four -->
				<div class="services-block-four style-two col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image">
							<img src="{% static 'main/images/resource/digital-marketing-gba6c169ea_1920.jpg' %}" alt="">
							<div class="overlay-box">
								<div class="content">
									<div class="icon-box">
										<span class="icon flaticon-statistics-1"></span>
									</div>
									<h6>Business Strategy and <br> Planning</h6>
								</div>
							</div>
							
							<div class="overlay-box-two">
								<div class="overlay-inner-two">
									<div class="content">
										<div class="icon-box">
											<span class="icon flaticon-statistics-1"></span>
										</div>
										<h6><a href="services-single.html">Business Strategy and Planning</a></h6>
										<div class="text"><i class="fa fa-check-circle" aria-hidden="true"></i> Marketing Comms. Strategy <br><i class="fa fa-check-circle" aria-hidden="true"></i> Consumer & Media Planning <br><i class="fa fa-check-circle" aria-hidden="true"></i> Media Buying & Control <br><i class="fa fa-check-circle" aria-hidden="true"></i> Inventory management <br><i class="fa fa-check-circle" aria-hidden="true"></i> Compliance Tracking <br><i class="fa fa-check-circle" aria-hidden="true"></i> Measurement & Evaluation</div>
										
									</div>
								</div>
							</div>
							
						</div>
					</div>
				</div>	
				
				<!-- Services Block Four -->
				<div class="services-block-four style-two col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image">
							<img src="{% static 'main/images/resource/businessman-g1ef73add1_1920.jpg' %}" alt="">
							<div class="overlay-box">
								<div class="content">
									<div class="icon-box">
										<span class="icon flaticon-target-1"></span>
									</div>
									<h6>Digital Strategy<br> and More</h6>
								</div>
							</div>
							
							<div class="overlay-box-two">
								<div class="overlay-inner-two">
									<div class="content">
										<div class="icon-box">
											<span class="icon flaticon-target-1"></span>
										</div>
										<h6><a href="services-single.html">Digital Strategy and More</a></h6>
										<div class="text"><i class="fa fa-check-circle" aria-hidden="true"></i> Digital Strategy
											<br><i class="fa fa-check-circle" aria-hidden="true"></i> Digital Planning
											<br><i class="fa fa-check-circle" aria-hidden="true"></i> Site Engine Optimization<br>
											<i class="fa fa-check-circle" aria-hidden="true"></i>Site Engine Management
											<br><i class="fa fa-check-circle" aria-hidden="true"></i>Social Attribution <br><i class="fa fa-check-circle" aria-hidden="true"></i>Lead Generation <br><i class="fa fa-check-circle" aria-hidden="true"></i>Optimization</div>
										
									</div>
								</div>
							</div>
							
						</div>
					</div>
				</div>	
				
				<!-- Services Block Four -->
				<div class="services-block-four style-two col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image">
							<img src="{% static 'main/images/resource/businessman-gae3ab5f8b_1920.jpg' %}" alt="">
							<div class="overlay-box">
								<div class="content">
									<div class="icon-box">
										<span class="icon flaticon-bank-building"></span>
									</div>
									<h6>Market & Consumer  <br> Research Insights</h6>
								</div>
							</div>
							
							<div class="overlay-box-two">
								<div class="overlay-inner-two">
									<div class="content">
										<div class="icon-box">
											<span class="icon flaticon-bank-building"></span>
										</div>
										<h6><a href="services-single.html">Market & Consumer Research Insights</a></h6>
										<div class="text"><i class="fa fa-check-circle" aria-hidden="true"></i>Retail Audit & BHT
										<br><i class="fa fa-check-circle" aria-hidden="true"></i>Media AMPs & Diaries
										<br><i class="fa fa-check-circle" aria-hidden="true"></i>Digital Metric Opt.
										<br><i class="fa fa-check-circle" aria-hidden="true"></i>Digital Footprint Analysis
										<br><i class="fa fa-check-circle" aria-hidden="true"></i>Media SOEs, SOVs & SOCs</div>

									</div>
								</div>
							</div>
							
						</div>
					</div>
				</div>	
				
			</div>
			
		</div>
	</section>
	<!-- End Services Section Four-->

	<!-- Services Section Six -->
	<section class="services-section-six">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title centered">
				<h2>Our Key <span> Differentiators</span></h2>
			</div>
			
			<div class="outer-container">
				<div class="row clearfix">
					
					<!-- Services Block Nine -->
					<div class="services-block-nine col-lg-3 col-md-6 col-sm-12">
						<div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
							<div class="icon-outer">
								<div class="service-number">1</div>
								<div class="icon-box">
									<span class="icon flaticon-network-1"></span>
								</div>
							</div>
							<div class="lower-box">
								<h6><a href="#">Consumer centric <br> approach to learning</a></h6>
								
								
							</div>
						</div>
					</div>
					
					<!-- Services Block Nine -->
					<div class="services-block-nine col-lg-3 col-md-6 col-sm-12">
						<div class="inner-box wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
							<div class="icon-outer">
								<div class="service-number">2</div>
								<div class="icon-box">
									<span class="icon flaticon-banknote"></span>
								</div>
							</div>
							<div class="lower-box">
								<h6><a href="#">Super return <br> on objectives</a></h6>
								
							</div>
						</div>
					</div>
					
					<!-- Services Block Nine -->
					<div class="services-block-nine col-lg-3 col-md-6 col-sm-12">
						<div class="inner-box wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
							<div class="icon-outer">
								<div class="service-number">3</div>
								<div class="icon-box">
									<span class="icon flaticon-target"></span>
								</div>
							</div>
							<div class="lower-box">
								<h6><a href="#">Insights to <br> Prescriptive strategy</a></h6>
								
							</div>
						</div>
					</div>
					
					<!-- Services Block Nine -->
					<div class="services-block-nine col-lg-3 col-md-6 col-sm-12">
						<div class="inner-box wow fadeInUp" data-wow-delay="900ms" data-wow-duration="1500ms">
							<div class="icon-outer">
								<div class="service-number">4</div>
								<div class="icon-box">
									<span class="icon flaticon-computer"></span>
								</div>
							</div>
							<div class="lower-box">
								<h6><a href="#">Integrated cross <br> platform solutions</a></h6>
								
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</section>
	<!-- End Services Section Six -->

	<!--Sidebar Page Container-->
    <div class="sidebar-page-container">
    	<div class="auto-container">
        	

        		<div class="sec-title centered brown">
						<h2>Our Approach to <br>Communication</span></h2>
					</div>


					<div class="row clearfix">
					<!--Sidebar Side-->
                <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
                	<aside class="sidebar default-sidebar">
						
						
						<!-- Banner Widget-->
                        <div class="sidebar-widget banner-widget">
							<div class="widget-content" style="background-image:url({% static 'main/images/resource/service-15.jpg' %})">
								<div class="logo">
									<img src="images/icons/widget-logo.png" alt="" />
								</div>
								<div class="title">Securied Business with</div>
								<h2>Financ</h2>
								<a href="contact/" class="theme-btn btn-style-seventen">Let’s start now <span class="icon flaticon-link"></span></a>
							</div>
						</div>
						
					</aside>
				</div>


				

        		
				
				
				
				<!--Content Side-->
                <div class="content-side col-lg-8 col-md-12 col-sm-12">
                	<div class="services-single">
						
						<!-- Services Gallery -->
						
						<!--Services Info Tabs-->
                        <div class="Services-info-tabs">
                            <!--Service Tabs-->
                            <div class="service-tabs tabs-box">
                            
                                <!--Tab Btns-->
                                <ul class="tab-btns tab-buttons clearfix">
                                    <li data-tab="#prod-audit" class="tab-btn active-btn">DIAGNOSIS</li>
                                    <li data-tab="#prod-strategy" class="tab-btn">INSIGHT</li>
                                    <li data-tab="#prod-sustainability" class="tab-btn">STRATEGY</li>
                                    <li data-tab="#abc" class="tab-btn">SOLUTION</li>
                                    <li data-tab="#def" class="tab-btn">ACTIVATION</li>
                                    <li data-tab="#ghi" class="tab-btn">PERFORMANCE</li>
                                </ul>
                                
                                <!--Tabs Container-->
                                <div class="tabs-content">
                                    
                                    <!--Tab / Active Tab-->
                                    <div class="tab active-tab" id="prod-audit">
                                        <div class="content">
											<div class="text">
												<p>Our Approach to Communication What have we learnt? Where do we want to get to? What's stopping us? A clear understanding of where the source of growth will come from.The challenge that communications needs to address.</p> <p>A recognition of what has driven success to-date</p>
												
											</div>
										</div>
									</div>
									
									<!--Tab-->
                                    <div class="tab" id="prod-strategy">
                                        <div class="content">
											<div class="text">
												<p>How do people experience the brand? Who are the biggest potential and theirprofile?An insight that helpsshape the strategy and the development of solutions.</p>
											</div>
										</div>
									</div>	
									
									<!--Tab-->
                                    <div class="tab" id="prod-sustainability">
                                        <div class="content">
											<div class="text">
												<p>What needs to happento overcome the challenge? A written and agreed inspiring strategic direction statement accompanied with roles for communication that outlines how communication should be deployed to deliver the objectives.</p>
											</div>
										</div>
									</div>

									<div class="tab" id="abc">
                                        <div class="content">
											<div class="text">
												<p>How do we brilliantly activate in media? An integrated, ecosystem plan. A plan led by Big Bang Media. <br>A plan that has no dead-ends. A plan which delivers the objectives.</p>
											</div>
										</div>
									</div>
									
									<div class="tab" id="def">
                                        <div class="content">
											<div class="text">
												<p>How do people experience the solution in media?A detailed outlay of getting to the people in the right place, time and weight in order to experience the brand</p>
											</div>
										</div>
									</div>
									
									<div class="tab" id="ghi">
                                        <div class="content">
											<div class="text">
												<p>How have we
performed against
set objectives?
Easy to track
performance metrics
The greatest impact
for our clients’
investment.
Powerful learnings to 
form the basis of the 
next client
conversation.</p>
											</div>
										</div>
									</div>
									
									
								</div>
							</div>
						</div>
						
						<div class="row clearfix">
							
							<!-- Services Block Two -->
							<div class="services-block-two col-lg-6 col-md-6 col-sm-12">
								<div class="inner-box">
									<div class="image">
										<img src="images/resource/service-1.jpg" alt="" />
										<div class="overlay-box">
											<div class="overlay-inner">
												<div class="icon-box">
													<span class="icon flaticon-analytics"></span>
												</div>
												<h5><a href="#">Financial Management <br> and Consulting</a></h5>
											</div>
										</div>
										<div class="overlay-box-two">
											<div class="overlay-inner-two">
												<div class="content">
													<div class="icon-box">
														<span class="icon flaticon-target"></span>
													</div>
													<div class="text">Outstanding Negotiation skill with high Return on Client’s Media Investment (ROI).</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<!-- Services Block Two -->
							<div class="services-block-two col-lg-6 col-md-6 col-sm-12">
								<div class="inner-box">
									<div class="image">
										<img src="images/resource/service-2.jpg" alt="" />
										<div class="overlay-box">
											<div class="overlay-inner">
												<div class="icon-box">
													<span class="icon flaticon-statistics"></span>
												</div>
												<h5><a href="#">Market Research <br> and Analysis</a></h5>
											</div>
										</div>
										<div class="overlay-box-two">
											<div class="overlay-inner-two">
												<div class="content">
													<div class="icon-box">
														<span class="icon flaticon-statistics"></span>
													</div>
													<div class="text">Competitive Volume Discount concession across all Media types.</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
						
						
						
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<!--End Sidebar Page Container-->


	<section class="services-section-nine">
		<div class="auto-container">
			
			<!-- Sec Title Two -->
			<div class="sec-title-two centered">
				
				<h2>We Deliver Value to our <br>Clients Through Innovative <span>Buying</span></h2>
			</div>
			<div class="row clearfix">
			
				<!-- Services Block Fifteen -->
				<div class="services-block-fifteen col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow bounceIn" data-wow-delay="300ms" data-wow-duration="1500ms">
						<div class="image">
							<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCDSgEYldjQz3gcsdrKqA8zFr9mn3o0OdaJw&usqp=CAU" alt="">
							<div class="overlay-box">
								<a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCDSgEYldjQz3gcsdrKqA8zFr9mn3o0OdaJw&usqp=CAU" data-fancybox="service-2" data-caption="" class="plus flaticon-plus-symbol"></a>
							</div>
						</div>
						<div class="lower-content">
							<div class="upper-box">
								<div class="icon flaticon-coins"></div>
								<h5><a href="services-single.html">Cross platform</a></h5>
							</div>
							<div class="text">Cross platform benefits for multi-channel networks like Silverbird Group, Consolidated Media Associates, etc </div>
						</div>
					</div>
				</div>
				
				<!-- Services Block Fifteen -->
				<div class="services-block-fifteen col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow bounceIn" data-wow-delay="300ms" data-wow-duration="1500ms">
						<div class="image">
							<img src="{% static 'main/images/resource/leverage.jpg' %}" alt="">
							<div class="overlay-box">
								<a href="{% static 'main/images/resource/leverage.jpg' %}" data-fancybox="service-2" data-caption="" class="plus flaticon-plus-symbol"></a>
							</div>
						</div>
						<div class="lower-content">
							<div class="upper-box">
								<div class="icon flaticon-chart"></div>
								<h5><a href="services-single.html">Leveraging</a></h5>
							</div>
							<div class="text">Leveraging spend on TV, radio and press for free exposure and editorial coverage of key product launches, events CSR initiatives </div>
						</div>
					</div>
				</div>
				
				<!-- Services Block Fifteen -->
				<div class="services-block-fifteen col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow bounceIn" data-wow-delay="600ms" data-wow-duration="1500ms">
						<div class="image">
							<img src="https://cdn.corporatefinanceinstitute.com/assets/budget-1024x617.jpeg" alt="">
							<div class="overlay-box">
								<a href="{% static 'main/images/resource/service-11.jpg' %}" data-fancybox="service-2" data-caption="" class="plus flaticon-plus-symbol"></a>
							</div>
						</div>
						<div class="lower-content">
							<div class="upper-box">
								<div class="icon flaticon-man"></div>
								<h5><a href="services-single.html">Rate freeze</a></h5>
							</div>
							<div class="text">Rate freeze on committed budget over a period of time </div>
						</div>
					</div>
				</div>
				
				<!-- Services Block Fifteen -->
				<div class="services-block-fifteen col-lg-6 col-md-6 col-sm-12">
					<div class="inner-box wow bounceIn" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<img src="https://www.ffind.com/wp-content/uploads/2017/04/international-market-research.jpg" alt="">
							<div class="overlay-box">
								<a href="https://www.ffind.com/wp-content/uploads/2017/04/international-market-research.jpg" data-fancybox="service-2" data-caption="" class="plus flaticon-plus-symbol"></a>
							</div>
						</div>
						<div class="lower-content">
							<div class="upper-box">
								<div class="icon flaticon-data"></div>
								<h5><a href="services-single.html">Multi Country</a></h5>
							</div>
							<div class="text">Multi-country channel deals with regional media companies e.g. Multichoice</div>
						</div>
					</div>
				</div>
				
				<!-- Services Block Fifteen -->
				<div class="services-block-fifteen col-lg-6 col-md-6 col-sm-12">
					<div class="inner-box wow bounceIn" data-wow-delay="300ms" data-wow-duration="1500ms">
						<div class="image">
							<img src="https://www.mercuriusit.com/wp-content/uploads/5-Common-Warehouse-Hindrances-How-To-Eliminate-Them-Blog-1080x675.png" alt="">
							<div class="overlay-box">
								<a href="https://www.logisticsinsider.in/wp-content/uploads/2020/05/tier-II-1.jpg" data-fancybox="service-2" data-caption="" class="plus flaticon-plus-symbol"></a>
							</div>
						</div>
						<div class="lower-content">
							<div class="upper-box">
								<div class="icon flaticon-hand-shake-1"></div>
								<h5><a href="services-single.html">Air time and media space</a></h5>
							</div>
							<div class="text">Air time and media space banking which involves warehousing media inventory at discounted rates </div>
						</div>
					</div>
				</div>
				
				
			
			</div>
		</div>
	</section>
	<!-- End Services Section Ten -->
	
	
	

	
	
	<!-- Gallery Section -->
	<section class="gallery-section">
		<div class="outer-container">
			<div class="gallery-carousel owl-carousel owl-theme">
			
				
				
				<!--Gallery Block-->
				<div class="gallery-block">
					<div class="inner-box">
						<div class="image">
							<img src="http://www.metromont.com/wp-content/uploads/2017/04/Sydney_Opera_House.jpg" alt="" />
							<div class="overlay-box">
								<div class="overlay-inner">
									<h3><a href="portfolio-single.html">Branch Advisor</a></h3>
									<div class="text">The argument in favor of using filler text goes something consecte tur adipis elit sed eiusmod. </div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!--Gallery Block-->
				<div class="gallery-block">
					<div class="inner-box">
						<div class="image">
							<img src="http://www.metromont.com/wp-content/uploads/2017/04/Sydney_Opera_House.jpg" alt="" />
							<div class="overlay-box">
								<div class="overlay-inner">
									<h3><a href="portfolio-single.html">Manager CEO</a></h3>
									<div class="text">The argument in favor of using filler text goes something consecte tur adipis elit sed eiusmod. </div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Gallery Section -->
	
	<!-- Testimonial Section -->
	<section class="testimonial-section padding-top">
		<div class="auto-container">
			<div class="single-item-carousel owl-carousel owl-theme">
				
				<!-- Testimonial Block -->
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="quote-icon">
							<span class="icon flaticon-right-quote-sign"></span>
						</div>
						<div class="text">The argument in favor of using filler text goes something like this: If you use real content in the design preocess, anytime you reach a review point you’ll end up reviewing and negotiating </div>
						<h3>Robert Froast</h3>
						<div class="author">Chairman and CEO</div>
					</div>
				</div>
				
				<!-- Testimonial Block -->
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="quote-icon">
							<span class="icon flaticon-right-quote-sign"></span>
						</div>
						<div class="text">The argument in favor of using filler text goes something like this: If you use real content in the design preocess, anytime you reach a review point you’ll end up reviewing and negotiating </div>
						<h3>Mark Anderson</h3>
						<div class="author">Manager</div>
					</div>
				</div>
				
				<!-- Testimonial Block -->
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="quote-icon">
							<span class="icon flaticon-right-quote-sign"></span>
						</div>
						<div class="text">The argument in favor of using filler text goes something like this: If you use real content in the design preocess, anytime you reach a review point you’ll end up reviewing and negotiating </div>
						<h3>George Albey</h3>
						<div class="author">Developer</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Testimonial Section -->
	
	
	
	<section class="about-section brown" id="about">
		<div class="auto-container">
			<div class="row clearfix">
				
				<!-- Content Column -->
				<div class="content-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						
						<!-- Sec Title Two -->
						<div class="sec-title-two brown">
							<div class="title">Why Procter Media</div>
							
						</div>
						
						<div class="text">
							<p>We adhere to payment rules where applicable and this is subject to client prepaying to Agency in order to execute the Media Buy as planned. Post buy reconciliation Agency-Me</p>
							
						</div>
						<div class="row clearfix">
							<div class="column col-lg-6 col-md-6 col-sm-12">
								<ul class="list-style-one">
									<li>EFFICIENT & EFFECTIVE COST OPTIMIZATION</li>
								</ul>
							</div>
							<div class="column col-lg-6 col-md-6 col-sm-12">
								<ul class="list-style-one">
									<li>CONSUMER DEEPDIVE & CONNECTIONS</li>
								</ul>
							</div>
							<div class="column col-lg-6 col-md-6 col-sm-12">
								<ul class="list-style-one">
									<li>PASSIONATE LEADERSHIP</li>
								</ul>
							</div>
							<div class="column col-lg-6 col-md-6 col-sm-12">
								<ul class="list-style-one">
									<li>RIGHT ENVIRONMENT</li>
								</ul>
							</div>

							<div class="column col-lg-6 col-md-6 col-sm-12">
								<ul class="list-style-one">
									<li>RIGHT TOOLS & SYSTEMS</li>
								</ul>
							</div>
							<div class="column col-lg-6 col-md-6 col-sm-12">
								<ul class="list-style-one">
									<li>UNIQUE OPERATING MODEL</li>
								</ul>
							</div>
							<div class="column col-lg-6 col-md-6 col-sm-12">
								<ul class="list-style-one">
									<li>CONVERGED SOLUTIONS</li>
								</ul>
							</div>
							<div class="column col-lg-6 col-md-6 col-sm-12">
								<ul class="list-style-one">
									<li>RIGHT TALENTS & SPECIALISTS</li>
								</ul>
							</div>
						</div>
						<div class="question">Call to ask <a href="#">any question</a> <strong>+234 (0) 8110998755</strong> <span class="or"></div>
						<div class="signature">
							<div class="signature-img"><img src="{% static 'main/images/icons/signature.png' %}" alt=""/></div>
							<h5>>Name</h5>
							<div class="designation">(Chairman and founder)</div>
						</div>
					</div>
				</div>
				
				<!-- Video Column -->
				<div class="video-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						
						<!--Video Box-->
                        <div class="video-box">
                            <figure class="image">
                                <img src="https://thumbs.dreamstime.com/b/why-choose-us-young-man-why-choose-us-young-man-dark-background-207751993.jpg" alt="">
                            </figure>
                            <a href="https://www.youtube.com/watch?v=kxPCFsertljwJwdds" class="lightbox-image overlay-box"><span class="flaticon-play-button"></span></a>
                        </div>
						
						<div class="fact-counter">
							<div class="auto-container">
								<div class="row clearfix">
								
									<!--Column-->
									<div class="column counter-column col-lg-4 col-md-6 col-sm-12">
										<div class="inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
											<div class="count-outer count-box">
												<span class="count-text" data-speed="2000" data-stop="1235">0</span>
												<div class="counter-title">Satisfied Clients</div>
												
											</div>
										</div>
									</div>
							
									<!--Column-->
									<div class="column counter-column col-lg-4 col-md-6 col-sm-12">
										<div class="inner wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
											<div class="count-outer count-box">
												<span class="count-text" data-speed="3500" data-stop="1402">0</span>+
												<div class="counter-title">Completed works</div>
												
											</div>
										</div>
									</div>
							
									<!--Column-->
									<div class="column counter-column col-lg-4 col-md-12 col-sm-12">
										<div class="inner wow fadeInLeft" data-wow-delay="600ms" data-wow-duration="1500ms">
											<div class="count-outer count-box">
												<span class="count-text" data-speed="2000" data-stop="35">0</span>
												<div class="counter-title">Winning Awards</div>
												
											</div>
										</div>
									</div>
									
								</div>
							</div>
						</div>
						
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End About Section -->
	
	
	
	<!-- Call To Action -->
	<section class="call-to-action" style="background-image:url({% static 'main/images/background/kuala-lumpur-gb0128167d_1920.jpg' %})">
		<div class="auto-container">
			<h2>Have a great opportunity to <br> manage your <span>finance</span></h2>
			<div class="btns-box">
				<a href="#"><img src="{% static 'main/images/icons/app-btn.png' %}" alt="" /></a>
				<a href="#"><img src="{% static 'main/images/icons/google-btn.png' %}" alt="" /></a>
			</div>
			<!---
			<div class="image wow jello" data-wow-delay="0ms" data-wow-duration="1500ms">
				<img src="{% static 'main/images/resource/PngItem_95038.png' %}" alt="" />
			</div>-->
		</div>
	</section>
	<!-- End Call To Action -->
	
	<!--Sponsors Section-->
	<section class="sponsors-section">
		<div class="auto-container">
			
			<div class="carousel-outer">
                <!--Sponsors Slider-->
                <ul class="sponsors-carousel owl-carousel owl-theme">
                    <li><div class="image-box"><a href="#"><img src="https://storage.betnukleus.com/s3-betnukleus-com/branches/bigibet/images/small.png?v=1633892988" alt=""></a></div></li>
                    
                    <li><div class="image-box"><a href="#"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgx3mcPxCEUP0P2sfyTtQ5C5oxfiseHphroZH5OAGmTfPgCiXhhmGSsHd0u48S5BUInJQ&usqp=CAU" alt=""></a></div></li>
                    <li><div class="image-box"><a href="#"><img src="https://betkingagency.com/wp-content/uploads/2021/09/betking-logo-bk.png" alt=""></a></div></li>
                    <li><div class="image-box"><a href="#"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSbR5siNL9hos6UDIwwXE1Fi9co2TSEb_QSEldSOTNLsqS9Mp2RquxvdzKmPkiBQu3naWg&usqp=CAU" alt=""></a></div></li>
                    <li><div class="image-box"><a href="#"><img src="https://www.pinclipart.com/picdir/middle/69-698379_mr-price-group-mr-price-group-logo-clipart.png" alt=""></a></div></li>
					<li><div class="image-box"><a href="#"><img src="https://www.titanfarms.org/logo.png" alt=""></a></div></li>
					<li><div class="image-box"><a href="#"><img  height="75%" width="75%" src="https://www.clipartmax.com/png/middle/198-1988887_hp-logo-hewlett-packard-logo.png" alt=""></a></div></li>
                    
                </ul>
            </div>
			
		</div>
	</section>
	<!--End Sponsors Section-->
	
	
	
	<!--Map Info Section-->
    <section class="map-info-section">
    	<div class="outer-container">
        	<div class="clearfix">
				<!--Left Column-->
                <div class="left-column">
                	<!--Map Outer-->
                    <div class="map-outer">
                        <!--Map Canvas-->
                        <div class="map-canvas"
                            data-zoom="12"
                            data-lat="-37.817085"
                            data-lng="144.955631"
                            data-type="roadmap"
                            data-hue="#ffc400"
                            data-title="Envato"
                            data-icon-path="images/icons/map-marker.png"
                            data-content="Melbourne VIC 3000, Australia<br><a href='mailto:info@youremail.com'>info@youremail.com</a>">
                        </div>
                    </div>
                </div>
            	<!--Right Column-->
                <div class="right-column" style="background-image:url(images/resource/image-1.jpg)">
                	<div class="content">
                    	<h2>Request for <span>quote</span></h2>
                        <div class="text">The argument in favor of using filler text goes something like this: If you use real content in the design process.</div>
                        
						<!-- Quote Form -->
						<div class="quote-form">
								
							<!--Contact Form-->
							<form method="post" action="contact/">
								<div class="row clearfix">
								
									<div class="form-group col-lg-6 col-md-6 col-sm-12">
										<input type="text" name="username" placeholder="How to assist you:*" required>
									</div>
									
									<div class="form-group col-lg-6 col-md-6 col-sm-12">
										<input type="text" name="phone" placeholder="Phone number:*" required>
									</div>
									
									<div class="form-group col-lg-6 col-md-6 col-sm-12">
										<input type="text" name="text" placeholder="Your name:*" required>
									</div>
									
									<div class="form-group col-lg-6 col-md-6 col-sm-12">
										<button type="submit" class="theme-btn btn-style-one">Submit request <span class="icon flaticon-share-option"></span></button>
									</div>
									
								</div>
							</form>
						</div>
						
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!--End Map Info Section-->
	
{% endblock %}